@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.nav-bar{
  width: 100%;
  height: 70px;
  background-color: #2485e6e8;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 0 20px ;
}
.nav-bar_logo{
  margin: 0 50px 0 0;
}
.nav-bar_bttns button{
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 5;
  margin: 0 50px 0 0;
  cursor: pointer;
}
.nav-bar_bttns .fa-dollar-sign{
  color: white;
  margin: 0 30px 0 0;;
}
.nav-bar_bttns button:hover{
  background-color: aliceblue;
  color: #172984e2;
  border-radius: 5px;
}
.Hero_page{
  width: 100%;
  height: 600px;
  background-color: #2c3e50;
  background-image: url(https://www.atastefortravel.ca/wp-content/uploads/2021/07/Harbour-in-Bodrum.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  image-rendering: high-quality;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-btn{
  background-color: transparent;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 12px 25px;
  cursor: pointer;
  margin-top: 25px;
  transition: all 0.3s ease;
}
.hero-btn:hover{
  background-color: rgba(71, 85, 123, 0.486);
}
.hero-btn i{
  margin-left: 10px;
}
.Hero_page h1{
  position: relative;
  color: rgb(26, 73, 145);
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  bottom: -2%;
  left: 8%;
}
.Hero_page button{
 position: relative;
 font-size:16px;
 padding: 10px 20px;
 top: 17%;
 left: 7%;
}