@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.nav-bar{
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 0 20px ;
  z-index: 4;
}
.nav-bar_logo{
  position: relative;
  right: 1.7vh;
  margin: 0 50px 0 0;
}
.nav-bar_bttns button{
  padding: 10px 15px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 5;
  margin: 0 50px 0 0;
  cursor: pointer;
}
.nav-bar_bttns .fa-dollar-sign{
  color: white;
  margin: 0 30px 0 0;;
}
.nav-bar_bttns button:hover{
  background-color: aliceblue;
  color: #172984e2;
  border-radius: 5px;
  box-shadow: 6px 3px 5px #385bda96;
}
.Hero_page{
  width: 100%;
  height: 600px;
  background-color: #2c3e50;
  background-image: url(https://www.atastefortravel.ca/wp-content/uploads/2021/07/Harbour-in-Bodrum.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  image-rendering: high-quality;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-btn{
  background-color: transparent;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 12px 25px;
  cursor: pointer;
  margin-top: 25px;
  transition: all 0.3s ease;
}
.hero-btn:hover{
  background-color: rgba(71, 85, 123, 0.486);
  box-shadow: 10px 8px 10px rgb(0, 0, 0);
}
.hero-btn i{
  margin-left: 10px;
}
.Hero_page h1{
  position: relative;
  color: rgb(26, 73, 145);
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  bottom: -2%;
  left: 8%;
  text-shadow: 6px 3px 5px #f5f58e;
}
.Hero_page button{
 position: relative;
 font-size:16px;
 padding: 10px 20px;
 top: 17%;
 left: 7%;
}
.hero_main{
  width: 100%;
  height: 290px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero_main h1{
  position: relative;
  font-size: 50px;
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-weight: 400;
  left: -3%;
  bottom: 12%;
}
.hero_main_search{
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  width: 68%;
  height: 80px;
  /*background-color: thistle;*/
  color: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.hero_main_search_item{
  display: flex;
  width: 20%;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  border-right: solid 2px #000000;
}
.hero_main_search_item:has(#yacht-type){
  border-right: none;
}
.hero_main_search input{
  background-color: rgb(255, 255, 255);
  border: none;
}
.hero_main_search ::placeholder{
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.search-btn{
  position: relative;
  width: 5%;
  height: 53%;
  background-color: rgb(20, 20, 232);
  color: rgb(35, 33, 33);
  border-radius: 4px;
  border: none;
  left: 25px;
  font-size: 25px;
  font-weight: 100;
}
.search-btn:hover{
  transition: 0.5s;
  background-color: rgb(67, 175, 211);
  color: white;
  box-shadow: 4px 8px 10px rgb(0, 0, 0);
}
.hero_main_content{
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_main_content h1{
  font-size: 55px;
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero_main_content_image{
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  padding-top: 20px;
  padding-bottom: 15px;
}
.hero_main_content_image1{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  width: 100%;
  height: 500px;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
}
.hero_main_content_image_selection{
  width: 100%;
  height: 100px;
  background-color:aliceblue;
  display: flex;
 justify-content: center;
 align-items: center;
}
.hero_main_content_selection{
 width: 15%;
 height: 45%;
 display: flex;
 font-size: 16px;
 padding: 12px 25px;
 justify-content: center;
 align-items:center;
 cursor: pointer;
 border-color: #13338b ;
 border-radius: 3px;
 background-color: aliceblue;
 color:#13338b ;
 border-width: 1px;
}
.hero_main_content_selection:hover{
 background-color: rgb(64, 195, 222);
 box-shadow: 10px 8px 10px rgb(0, 0, 0);
}
.hero_main_charter_head{
  width: 100%;
  height: 100px;
  background-color:rgb(255, 255, 255);
  display: flex;
  padding-top: 15px;
}
.hero_main_charter_head h1{
  position: relative;
  font-size: 55px;
  color: #2c3e50;
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
  left: 3%;
}
.hero_main_charter_images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  gap: 25px;
}
.hero_main_charter_footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.hero_main_charter_footer p {
  font-size: 20px;
  color: #000000;
  text-shadow: 6px 2px 4px #13e299a5;
}
.hero_main_charter_footer button{
  background-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  border-color: #13338b;
  color: #13338b ;
  font-size: 16px;
  padding: 12px 25px;
  cursor: pointer;
  margin-top: 10px;
}
.hero_main_charter_footer button:hover{
  background-color: rgb(64, 195, 222);
  box-shadow: 10px 8px 10px rgb(0, 0, 0);
}
.why_we{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 600px;
  background-color: #171652;
  align-items: center;
}
.why_we_text{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  gap: 25px;
  margin-top: 30px;
}
.why_we_bttn:hover,.why_we_bttn1:hover{
  text-shadow: 5px 3px 5px rgb(1, 1, 1);
}
.why_we_text h1{
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  padding-bottom: 15px;
}
.why_we_bttn{
  position: relative;
  background-color: #171652;
  border:none;
  width: 600px;
  height: 48px;
  color: white;
  font-size: 26px;
  cursor: pointer;
  margin-top: 15px;
  border-bottom: rgb(104, 101, 101) 0.1px solid;
}
.why_we_bttn1{
  background-color: #171652;
  border:none;
  width: 600px;
  height: 28px;
  color: white;
  font-size: 26px;
  cursor: pointer;
  margin-top: 15px;
}
.why_we_bttn2{
  background-color: #171652;
  border: 1px solid white;
  border-radius: 6px;
  width: 400px;
  height: 68px;
  color: white;
  font-size: 26px;
  cursor: pointer;
  margin-top: 15px;
}
.why_we_bttn2 a{
  text-decoration: none;
  color: white;
}
.why_we_bttn2:hover{
  background-color: rgb(65, 102, 108);
  box-shadow: 10px 8px 10px rgb(0, 0, 0);
}
.why_we_image img{
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 10px 8px 10px rgb(0, 0, 0);
}
.create_plan{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.create_plan p{
  position: relative;
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  color: #13338b;
  top: 20px;
} 
.create_plan button{
  position: relative;
  background-color: rgb(9, 78, 215);
  border-radius: 5px;
  border-width: 1px;
  color: #eff3ff ;
  font-size: 16px;
  padding: 12px 25px;
  cursor: pointer;
  top: 20px;
  box-shadow: 10px 8px 2px rgb(0, 0, 0);
} 
.create_plan button:hover{
  background-color: rgb(10, 94, 123);
}
.subscription{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #171652;
  gap: 50px;
  color: white;
}
.subscription input{
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 15px;
  font-size: 15px;
  color: #000000;
  background-color: rgba(237, 225, 225, 0.773);
  margin-left: 65px;
}
.subscription input:hover{
  box-shadow: 10px 8px 10px rgb(0, 0, 0);
}
.subscription_bttn:hover{
  background-color:cadetblue ;
}
.subscription input::placeholder{
  color: #000000;
}
.subscription button{
  position: relative;
  background-color: rgb(9, 78, 215);
  border-radius: 5px;
  border-width: 1px;
  height: 41.5px;
  width: 100px;
  color: #eff3ff ;
  font-size: 16px;
  cursor: pointer;
  left: 100x;
  top: 1px;
} 
.subscription_input p{
  margin-top: 30px;
  font-size: 16px;
  margin-left: 60px;
}
.subscription_details h1{
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: italic;
}
.subscription_details p{
  font-size: 20px;
  margin-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}
.footer{
  display: flex;
  height: 500px;
  width: 100%;
  flex-direction: row;
  background-color: aliceblue;
}
.footer_logo{
  display: flex;
  flex-direction: column;
  width: 45%;
  height:500px ;
  justify-content: center;
  align-items: center;
}
.dest_aval{
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.dest_aval h2{
  position: relative;
  font-size: 34px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  bottom: 50px;
}
.dest_aval p{
  position: relative;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  margin-top:8px;
  bottom: 30px;
}
.charter_types{
  display: flex;
  flex-direction: column ;
  width: 40%;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.charter_types h2{
  font-size: 34px;
  font-weight: 100;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 15px;
}
.charter_types p{
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  margin-top: 8px;
}
.charter_types p:hover, .dest_aval p:hover{
  transition: 0.2s;
  background-color: #13338b;
  cursor: pointer;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}
.footer_logo img{
  position: relative;
  width: 200px;
  height: 200px;
  bottom: 70px;
}
.footer_logo_details p{
  position: relative;
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  height: 60px;
  padding: 12px 25px;
  bottom: 50px;
  left: 73px;
}
.footer_logo_details a{
  margin-top: 15px;
  position: relative;
  font-size: 20px;
  color: rgb(18, 63, 119);
  text-decoration: none;
  padding-left: 10px;
  cursor: pointer;
  bottom: 40px;
  left: 90px;
}
.footer_logo_details a:hover{
  text-decoration: underline;
}
.follow_ons{
  display: flex;
  flex-direction: row;
  width: 300px;
  font-size: 25px;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.follow_ons i:hover{
  color: rgb(18, 63, 119);
  cursor: pointer;
  transform: scale(1.6);
}
.copyright{
  width: 100%;
  height: 75px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#404142;
}
.copyright p{
  position: relative;
  top:30px;
  padding-left: 25px;
}

@media (min-width: 600px) and (max-width: 900px){
  .nav-bar{
  position: absolute;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 0 5px ;
  z-index: 3;
  }
  .nav-bar_logo{
  margin: 0 10px 0 0;
}
.nav-bar_logo img{
  position: relative;
  top: 5px;
  right: 40px;
  width: 90px;
  height: 50px;
}
.nav-bar_bttns button{
  padding: 2px 3px;
  background: none;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: 5;
  margin: 0 6px 0 0;
  cursor: pointer;
}
.nav-bar_bttns .fa-dollar-sign{
  color: white;
  font-size: 10px;
  margin: 0 6px 0 0;;
}
.nav-bar_bttns button:hover{
  background-color: aliceblue;
  color: #172984e2;
  border-radius: 3px;
  box-shadow: 3px 2px 4px #385bda96;
}

.Hero_page{
  width: 100vw;
  height: 30vh;
}
.hero-btn{
  font-size: 8px;
  padding: 6px 8px;
  margin-top: 10px;

}
.Hero_page h1{
  position: relative;
  color: rgb(26, 73, 145);
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  bottom: -2%;
  left: 8%;
  text-shadow: 6px 3px 5px #f5f58e;
}
.Hero_page button{
 position: relative;
 font-size:9x;
 top: 17%;
 left: 7%;
}

.hero_main{
  width: 100vw;
  height: 20vh;
}
.hero_main h1{
  font-size: 35px;
  padding: 6px 8px;
  left: -3%;
  bottom: 12%;
}
.hero_main_search{
  display: flex;
  margin-top: 18px;
  justify-content: center;
  align-items: center;
  width: 78%;
  height: 60px;
  color: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.hero_main_search_item{
  display: flex;
  width: 20%;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  border-right: solid 2px #000000;
}

.hero_main_search ::placeholder{
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}
.search-btn{
  position: relative;
  width: 5%;
  height: 53%;
  left: 2px;
  font-size: 15px;
}
.hero_main_content{
  width: 100vw;
  height: 5vh;
}
.hero_main_content h1{
  position: relative;
  right: 50px;
  font-size: 30px;
}
.hero_main_content_image{
  justify-content: center;
  gap: 18px;
  width: 100vw;
  height: 25vh;
}
.hero_main_content_image img{
   position: relative;
   right: 35px;
   width: 25vh;
   height: auto;
}
.hero_main_content_image1{
  justify-content: center;
  gap: 15px;
  width: 100vw;
  height: 25vh;
}
.hero_main_content_image1 img{
   position: relative;
   right: 35px;
   width: 25vh;
   height: auto;
}
.hero_main_content_image_selection{
  width: 100vw;
  height: 5vh;

}
.hero_main_content_selection{
  position: relative;
  right: 50px;
  bottom: 25px;
  width: 25%;
  height: 55%;
  font-size: 13px;
}

.hero_main_charter_head{
  width: 100vw;
  height: 10vh;
}
.hero_main_charter_head h1{
  font-size: 50px;
}
.hero_main_charter_images{
  width: 100vw;
  height: 20vh;
}
.hero_main_charter_images img{
  width: 18vh;
  position: relative;
  right: 25px;
}
.hero_main_charter_footer{
  width: 100vw;
  height: 8vh;
}
.hero_main_charter_footer p {
  font-size: 14px;
  color: #000000;
  text-shadow: 6px 2px 4px #13e299a5;
}
.hero_main_charter_footer button{
  font-size: 12px;
  margin-bottom: 5px;
}

.why_we{
  width: 100vw;
  height: 50vh;
}
.why_we_text{
  font-weight: 100;
  gap: 14px;
  margin-top: 30px;
}
.why_we_text h1{
  position: relative;
  left: 20px;
  font-size: 38px;
}
.why_we_bttn{
  position: relative;
  left: 8px;
  width: 50vw;
  height: 4vh;
  font-size: 20px;
}
.why_we_bttn1{
  position: relative;
  left: 8px;
  width: 50vw;
  height: 4vh;
  font-size: 20px;
}
.why_we_bttn2{
  position: relative;
  left: 100px;
  width: 30vw;
  height: 6vh;
  font-size: 16px;
}
.why_we_image img{
  width: 290px;
  height: 350px;
}
.create_plan{
  width: 100vw;
  height: 15vh;
  gap: 5px;
}
.create_plan p{
  font-size: 28px;
  margin-bottom: 20px;
} 
.create_plan button{
  font-size: 13px;
} 
.subscription{
  width: 100vw;
  height: 25vh;
  gap: 30px;
}
.subscription input{
  width: 40vw;
  height: 3vh;
  font-size: 13px;
  margin-left: 15px;
}
.subscription_bttn{
  position: relative;
  bottom: 50px;
  left: 245px;
  height: 3vh;
  width: 7vw;
  font-size: 9px;
} 
.subscription_input p{
  position: relative;
  right: 50px;
  font-size: 14px;
}
.subscription_details h1{
  margin-left: 10px;
  font-size: 38px;
}
.subscription_details p{
  font-size: 20px;
  margin-top: 15px;
  margin-left: 5px;
}
.footer{
  height: 38vh;
  width: 100vw;
}
.footer_logo{
  width: 45%;
  height:200px ;
}
.dest_aval{
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.dest_aval h2{
  position: relative;
  font-size: 24px;
  top: 20px;
}
.dest_aval p{
  position: relative;
  font-size: 20px;
  margin-top:8px;
  margin-left: 25px;
  top: 30px;
}
.charter_types{
 margin-right: 5px;
  width: 40%;
  height: 300px;
}
.charter_types h2{
  position: relative;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top:8px;
  bottom: 25px;
}
.charter_types p{
  position: relative;
  font-size: 20px;
  margin-top:6px;
  bottom: 25px;
}
.footer_logo img{
  position: relative;
  width: 200px;
  height: 400px;
  top: 30px;
}
.footer_logo_details p{
  position: relative;
  top: 100px;
  right: 125px;
  font-size: 23px;
  height: 60px;
  padding: 12px 25px;
}
.footer_logo_details a{
  margin-top: 15px;
  position: relative;
  top: 150px;
  right: 80px;
  font-size: 20px;
  width: 6vh;

}

.follow_ons{
  position: relative;
  top: 200px;
  left:80px;
  width: 300px;
  font-size: 25px;
  height: 50px;
}
.copyright{
  width: 100vw;
  height: 5vh;
}
.copyright p{
  top:20px;
}
}