@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.nav-bar{
  width: 100%;
  height: 70px;
  background-color: #2485e6e8;
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 0 20px ;
}
.nav-bar_logo{
  margin: 0 50px 0 0;
}
.nav-bar_bttns button{
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 5;
  margin: 0 50px 0 0;
  cursor: pointer;
}
.nav-bar_bttns .fa-dollar-sign{
  color: white;
  margin: 0 30px 0 0;;
}
.nav-bar_bttns button:hover{
  background-color: aliceblue;
  color: #172984e2;
  border-radius: 5px;
}
.Hero_page{
  width: 100%;
  height: 600px;
  background-color: #2c3e50;
  background-image: url(https://www.atastefortravel.ca/wp-content/uploads/2021/07/Harbour-in-Bodrum.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  image-rendering: high-quality;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-btn{
  background-color: transparent;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 12px 25px;
  cursor: pointer;
  margin-top: 25px;
  transition: all 0.3s ease;
}
.hero-btn:hover{
  background-color: rgba(71, 85, 123, 0.486);
}
.hero-btn i{
  margin-left: 10px;
}
.Hero_page h1{
  position: relative;
  color: rgb(26, 73, 145);
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  bottom: -2%;
  left: 8%;
}
.Hero_page button{
 position: relative;
 font-size:16px;
 padding: 10px 20px;
 top: 17%;
 left: 7%;
}
.hero_main{
  width: 100%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero_main h1{
  position: relative;
  font-size: 50px;
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-weight: 400;
  left: -3%;
}
.hero_main_search{
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  width: 68%;
  height: 22%;
  /*background-color: thistle;*/
  color: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.hero_main_search_item{
  display: flex;
  width: 20%;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  border-right: solid 2px #000000;
}
.hero_main_search_item:has(#yacht-type){
  border-right: none;
}
.hero_main_search input{
  background-color: rgb(255, 255, 255);
  border: none;
}
.hero_main_search ::placeholder{
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}
.search-btn{
  position: relative;
  width: 5%;
  height: 53%;
  background-color: rgb(20, 20, 232);
  color: rgb(35, 33, 33);
  border-radius: 4px;
  border: none;
  left: 25px;
  font-size: 25px;
  font-weight: 100;
}
.hero_main_content{
  width: 100%;
  height: 100px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_main_content h1{
  font-size: 35px;
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero_main_content_image{
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  padding-top: 20px;
  padding-bottom: 15px;
}
.hero_main_content_image1{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  width: 100%;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
}
.hero_main_content_image_selection{
  width: 100%;
  height: 100px;
  background-color:aliceblue;
  display: flex;
 justify-content: center;
 align-items: center;
}
.hero_main_content_selection{
  width: 12%;
  height: 45%;
 display: flex;
 justify-content: center;
 align-items:center;
 border-color: #13338b ;
 border-radius: 3px;
 background-color: aliceblue;
 color:#13338b ;
 border-width: 1px;
}
.hero_main_content_selection:hover{
 background-color: aquamarine;
 box-shadow:5px 20% rgb(0, 0, 0)
}